body {
  background-color:powderblue;
  color:red;
  margin:0px
}
a {
  font-size: 200%;
  color: red;
}
#name,a {
  text-transform: uppercase;
}
.contactLink{
  color: purple;
}
#name p {
  font-size: 20px;
  color: gray;
}
